p{
font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
color:#706c6c;
}

h1{
	
font-weight: bold; 
}

.navbar-brand { 
color: #3cb7b7; 
background-color: #3cb7b7; 
font-family: times new roman; 
font-weight: bold; 
font-size: 25px;
position: relative;
left: 230px;

} 

.main-img {


position: relative;
left: 60px;



}

img{
	float: left;
}

.whitebox-sum{

	background-color: white;
    padding-bottom: 50px ;
	margin:50px;
}

.whitebox-vis{

 
	background-color: white;
    margin-bottom: 50px;
}

.divider {
  width: 25%;
  float: left;
}

h3 { 
color: #3cb7b7; 
font-family: times new roman; 
font-weight: bold; 
font-size: 25px;

} 

body { 
background-color: #eaeaea; 
} 

.summary-style{
	padding-top: 30px
	padding-bottom: 100px;
	margin-top: 70px;
}

.vis-style{
    padding-bottom: 50px;

	margin-top: 70px;
}





