.navbar-brand { 
color: black; 
background-color: #3cb7b7; 
font-family: times new roman; 
font-weight: bold; 
font-size: 25px;
position: relative;
left: 50px;
 padding-bottom: 50px;
} 

.main-img {
    float: left;
	position: relative;
	margin-right: -600px;
	margin-top: -600px;
}

.whitebox{
background-color: white; 	
}

.divider {
  width: 25%;
  float: left;
}

h3 { 
color: #3cb7b7; 
font-family: times new roman; 
font-weight: bold; 
font-size: 30px;

} 

body { 
background-color: #eaeaea; 


} 





